@font-face {
    font-family: "bitkeep EN";
    src: url("../fonts/blindbox/gilroy-black-6.otf");
}

@font-face {
    font-family: "bitkeep EN BLOD";
    src: url("../fonts/blindbox/Gilroy-Medium-2.otf");
}
@font-face {
  font-family: "bitkeep DIN";
  src: url("../fonts/blindbox/DIN-Medium.otf");
}
@font-face {
  font-family: "TTORegular";
  src: url("../fonts/polygon/ttoctosquares-regular.otf");
}
@font-face {
  font-family: "TTODbold";
  src: url("../fonts/polygon/ttoctosquares-dbold.otf");
}
@font-face {
  font-family: "TTODboldit";
  src: url("../fonts/polygon/ttoctosquares-dboldit.otf");
}
@font-face {
  font-family: "TTOBlack";
  src: url("../fonts/polygon/ttoctosquares-black.otf");
}
@font-face {
  font-family: "TTODBlackit";
  src: url("../fonts/polygon/ttoctosquares-blackit.otf");
}
@font-face {
  font-family: "TTOBold";
  src: url("../fonts/polygon/ttoctosquares-bold.otf");
}
@font-face {
  font-family: "TTOBoldit";
  src: url("../fonts/polygon/ttoctosquares-boldit.otf");
}
@font-face {
  font-family: "TTOItalic";
  src: url("../fonts/polygon/ttoctosquares-italic.otf");
}
@font-face {
  font-family: "TTOMedium";
  src: url("../fonts/polygon/ttoctosquares-medium.otf");
}
@font-face {
  font-family: "TTOMediumit";
  src: url("../fonts/polygon/ttoctosquares-mediumit.otf");
}
/* 需要加成全局≥÷ 暂时放在这里 */
.body {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
}
.setFontFamily {
  font-family: "bitkeep DIN";
}
.word_keep {
  word-break: keep-all;
}
.font-20{
  font-size: 20px!important;
}
.color_red {
  color: #ff255a;
  font-weight: 600;
}
.color_text {
  color: #4b5373;
}
.color_theme {
  color: #0c0998;
}
.btn:active {
  opacity: 0.8;
}
.active{
   &:active{
     opacity: 0.8;
   }

}
.radial-gradient{
   background: radial-gradient(
          at left top,
          #fffbe5 0%,
          #ffefea 19.79%,
          #ffeff7 53.47%,
          #ffecfd 59.9%,
          #ddd1ff 97.4%
        );
}
// .btn {
//   background: linear-gradient(122.71deg, #74eeff 3.38%, #6f2cff 92.57%), #c4c4c4;
//   border-radius: 100px;
//   height: 24px;
//   width: 68px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 100px;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 12px;
//   color: #ffffff;
//   &:active {
//     opacity: 0.8;
//   }
// }
@keyframes heartbeat {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }
  25% {
    transform: scale(1, 1);
    opacity: 0.9;
  }
  // 80% {
  //   transform: scale(0.9, 0.9);
  // }
  100% {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
}




ul,ol,li{
  list-style: none;
}

.TTORegular{
  font-family: "TTORegular";
}
.TTODbold{
  font-family: "TTODbold";
}
.TTODboldit{
  font-family: "TTODboldit";
}
.TTOBlack{
  font-family: "TTOBlack";
}
.TTODBlackit{
  font-family: "TTODBlackit";
}
.TTOBold{
  font-family: "TTOBold";
}
.TTOBoldit{
  font-family: "TTOBoldit";
}
.TTOItalic{
  font-family: "TTOItalic";
}
.TTOMedium{
  font-family: "TTOMedium";
}
.TTOMediumit{
  font-family: "TTOMediumit";
}
h1,h2,h3,h4,h5,h6,div,img,a,p,span,button,input,textarea,select,label,table,tr,td,th,tbody,thead,tfoot,iframe,form,fieldset,legend,ul,ol,li{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}


.van-dialog {
  border-radius:0;
  background-color: #202024;
  border-color: #49494D;
  color: #ffffff;
  font-size: 18px;
  font-family: "TTOMedium";
  .van-dialog__message {
    margin: 40px 20px;
  }
  .van-button--default { 
    width: 198px;
    height: 44px;
    line-height: 44px;
    background: url(@/assets/img/btnBg6.png);
    background-size: 100% 100%;
    margin: 0 20px 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  .van-hairline--top::after {
    border: none
  }
}