  $theme-light-textPrimary0: #0E0E0E;
  // $theme-light-textSecond1: #4B5373;
  $theme-light-textSecond1: #515556;
  $theme-light-textSecond2: #919899;
  // $theme-light-textSecond2: #7F828F;
  $theme-light-textSecond3: #9CA5B3;
  $theme-light-colorDisable: #DADBDE;
  $theme-light-colorLine: #F4F5FA;
  $theme-light-colorLine1: #F0F0F0;
  $theme-light-colorBackground0: #F8F9FA;
  $theme-light-colorBackground1: #FFFFFF;
  $theme-light-colorBackground2: #F3F5F6;
  $theme-light-colorBackground3: #F8F9FA;
  $theme-light-colorPrimary: #7524f9;
  $theme-light-colorSecond01: #2AC8DD;
  $theme-light-colorSecond02: #F04A4A;
  $theme-light-colorSecond03: #26BC80;
  $theme-light-colorSecond04: #FF8146;
  $theme-light-colorSecond05: #2F80ED;
  $theme-light-colorSecond06: #4A2FD2;
  $theme-light-colorSecond07: #F04E98;
  $theme-light-colorSecond08: #FFB800;
  $theme-light-colorBlack: #000000;
  $theme-light-colorwhite: #FFFFFF;
  $theme-light-colorSecond10: rgba(73, 91, 255, 0.1);
  $theme-light-colorSecond11: rgba(28, 189, 181, 0.1);
  $theme-light-colorSecond12: rgba(240, 74, 74, 0.1);
  $theme-light-colorSecond13: rgba(38, 188, 128, 0.1);
  $theme-light-colorSecond14: rgba(255, 129, 70, 0.1);
  $theme-light-colorSecond15: rgba(47, 128, 237, 0.1);
  $theme-light-colorSecond18: rgba(255, 184, 0, 0.1);


  $theme-dark-textPrimary0: #DFE0E3;
  $theme-dark-textSecond1: #9CA5B3;
  $theme-dark-textSecond2: #7F828F;
  $theme-dark-textSecond3: #6D707D;
  $theme-dark-colorDisable: #5F626D;
  $theme-dark-colorLine: #1F212E;
  $theme-dark-colorLine1: #2A2D3D;
  $theme-dark-colorBackground0: #0A0E1F;
  $theme-dark-colorBackground1: #171A26;
  $theme-dark-colorBackground2: #212331;
  $theme-dark-colorBackground3: #212331;
  $theme-dark-colorPrimary: #7524f9;
  $theme-dark-colorSecond01: #2AC8DD;
  $theme-dark-colorSecond02: #F04A4A;
  $theme-dark-colorSecond03: #26BC80;
  $theme-dark-colorSecond04: #FF8146;
  $theme-dark-colorSecond05: #2F80ED;
  $theme-dark-colorSecond06: #4A2FD2;
  $theme-dark-colorSecond07: #F04E98;
  $theme-dark-colorSecond08: #FFB800;
  $theme-dark-colorwhite: #FFFFFF;
  $theme-dark-colorBlack: #000000;
  $theme-dark-colorSecond10: rgba(73, 91, 255, 0.1);
  $theme-dark-colorSecond11: rgba(28, 189, 181, 0.1);
  $theme-dark-colorSecond12: rgba(240, 74, 74, 0.1);
  $theme-dark-colorSecond13: rgba(38, 188, 128, 0.1);
  $theme-dark-colorSecond14: rgba(255, 129, 70, 0.1);
  $theme-dark-colorSecond15: rgba(47, 128, 237, 0.1);
  $theme-dark-colorSecond18: rgba(255, 184, 0, 0.1);

  .theme-light{
    .textPrimary0{
      color: $theme-light-textPrimary0;
    }
    .textSecond1{
      color: $theme-light-textSecond1;
    }
    .textSecond2{
      color: $theme-light-textSecond2;
    }
    .textSecond3{
      color: $theme-light-textSecond3;
    }
    .colorDisable{
      background-color: $theme-light-colorDisable;
    }
    .colorLine{
      background-color: $theme-light-colorLine;
    }
    .colorLine1{
      background-color: $theme-light-colorLine1;
    }
    .colorBackground0{
      background-color: $theme-light-colorBackground0;
    }
    .colorBackground1{
      background-color: $theme-light-colorBackground1;
    }
    .colorBackground2{
      background-color: $theme-light-colorBackground2;
    }
    .colorBackground3{
      background-color: $theme-light-colorBackground3;
    }
    .colorBackgroundWhite{
      background-color: $theme-light-colorwhite;
    }
    .colorBackgroundPrimary{
      background-color: $theme-light-colorPrimary;
    }
    .colorBackgroundColorSecond11{
      background-color: $theme-light-colorSecond11;
    }
    .colorBackgroundSecond01{
      background-color: $theme-light-colorSecond01;
    }
    .colorBackgroundTextPrimary0{
      background-color: $theme-light-textPrimary0;
    }
    .colorPrimary{
      color: $theme-light-colorPrimary;
    }
    .colorSecond01{
      color: $theme-light-colorSecond01;
    }
    .backgroundSecond01{
      background-color: $theme-light-colorSecond01;
    }
    .colorSecond02{
      color: $theme-light-colorSecond02;
    }
    .colorSecond03{
      color: $theme-light-colorSecond03;
    }
    .colorSecond04{
      color: $theme-light-colorSecond04;
    }
    .colorSecond05{
      color: $theme-light-colorSecond05;
    }
    .colorSecond06{
      color: $theme-light-colorSecond06;
    }
    .colorSecond07{
      color: $theme-light-colorSecond07;
    }
    .colorSecond08{
      color: $theme-light-colorSecond08;
    }
    .colorBlack{
      color: $theme-light-colorBlack;
    }
    .colorwhite{
      color: $theme-light-colorwhite;
    }
    .colorSecond10{
      color: $theme-light-colorSecond10;
    }
    .colorSecond11{
      color: $theme-light-colorSecond11;
    }
    .colorSecond12{
      color: $theme-light-colorSecond12;
    }
    .colorSecond13{
      color: $theme-light-colorSecond13;
    }
    .colorSecond14{
      color: $theme-light-colorSecond14;
    }
    .colorSecond15{
      color: $theme-light-colorSecond15;
    }
    .colorSecond18{
      background-color: $theme-light-colorSecond18;
    }
  }
  .theme-dark{
    .textPrimary0{
      color: $theme-dark-textPrimary0;
    }
    .textSecond1{
      color: $theme-dark-textSecond1;
    }
    .textSecond2{
      color: $theme-dark-textSecond2;
    }
    .textSecond3{
      color: $theme-dark-textSecond3;
    }
    .colorDisable{
      background-color: $theme-dark-colorDisable;
    }
    .colorLine{
      background-color: $theme-dark-colorLine;
    }
    .colorLine1{
      background-color: $theme-dark-colorLine1;
    }
    .colorBackground0{
      background-color: $theme-dark-colorBackground0;
    }
    .colorBackground1{
      background-color: $theme-dark-colorBackground1;
    }
    .colorBackground2{
      background-color: $theme-dark-colorBackground2;
    }
    .colorBackground3{
      background-color: $theme-dark-colorBackground3;
    }
    .colorBackgroundPrimary{
      background-color: $theme-dark-colorPrimary;
    }
    .colorBackgroundColorSecond11{
      background-color: $theme-dark-colorSecond11;
    }
    .colorBackgroundSecond01{
      background-color: $theme-dark-colorSecond01;
    }
    .colorBackgroundTextPrimary0{
      background-color: $theme-dark-textPrimary0;
    }
    .colorPrimary{
      color: $theme-dark-colorPrimary;
    }
    .colorSecond01{
      color: $theme-dark-colorSecond01;
    }
    .backgroundSecond01{
      background-color: $theme-dark-colorSecond01;
    }
    .colorSecond02{
      color: $theme-dark-colorSecond02;
    }
    .colorSecond03{
      color: $theme-dark-colorSecond03;
    }
    .colorSecond04{
      color: $theme-dark-colorSecond04;
    }
    .colorSecond05{
      color: $theme-dark-colorSecond05;
    }
    .colorSecond06{
      color: $theme-dark-colorSecond06;
    }
    .colorSecond07{
      color: $theme-dark-colorSecond07;
    }
    .colorSecond08{
      color: $theme-dark-colorSecond08;
    }
    .colorBlack{
      color: $theme-dark-colorBlack;
    }
    .colorwhite{
      color: $theme-dark-colorwhite;
    }
    .colorSecond10{
      color: $theme-dark-colorSecond10;
    }
    .colorSecond11{
      color: $theme-dark-colorSecond11;
    }
    .colorSecond12{
      color: $theme-dark-colorSecond12;
    }
    .colorSecond13{
      color: $theme-dark-colorSecond13;
    }
    .colorSecond14{
      color: $theme-dark-colorSecond14;
    }
    .colorSecond15{
      color: $theme-dark-colorSecond15;
    }
    .colorSecond18{
      background-color: $theme-dark-colorSecond18;
    }
  }